.RadGrid th, .RadGrid th a
{ 
	font: bold 11px Tahoma;
	color: black;
}

.RadGrid td, .RadGrid td a
{ 
	font: 11px tahoma;
	color: #000000;
}

.RadGrid input, .RadGrid select
{ 
	font: 10px tahoma;
	color: #000000;	
}

.EditFormCaptionRow td
{
	color: White;
	font-weight:bold;
}

.GridRow
{
	background-color:#BCBCBC;
	height: 16px;
}

.GridAltRow
{
	background-color:#F4F4F4;
	height: 16px;
}

.GridPager
{	
	/*background-color:#CC9B00;*/
	background-image: url(Img/bg.gif);
}

.GridPager td
{
	font: 11px Tahoma;
	color: black;
}

.GridPager td a
{
	font: bold 11px Tahoma;
	color: black;
}

.GridHeader
{
	/*background-color:#494949;*/
	background-image: url(Img/headerBg.gif);
	height: 35px;
}

.GridFooter
{
	background-color:#000000;	
}
